<div class=" py-5 py-lg-6">
    <div class="container faqs">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <h1 class="mb-4">{{ section.settings.title_text }}</h1>
                <p class="lead mb-4">{{ section.settings.title_description }}</p>

                <div class="accordion malbec-accordion" id="faqAccordion">
                        {% for block in section['block_order'] %}
                            {% block %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% styles %}
.malbec-accordion__item {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.malbec-accordion_button.accordion-button {
    padding-left: 0;
    padding-right: 0;
    background: none !important;
}
.malbec-accordion_button.accordion-button:not(.collapsed){
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 5%);
}
.malbec-accordion_body.accordion-body {
    background: rgb(242 248 255);
}
{% endstyles %}

{% schema %}
{
    "name": "FAQs",
    "description": "FAQs section",
    "max_blocks": 10,
    "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "title_description",
          "label": "Description"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "faq"
        }
    ]
}
{% endschema %}
