
<div class="accordion-item malbec-accordion__item">
    <h2 class="accordion-header" id="{{ block.question | remove: ' ' | remove: '?' }}">
      <button class="accordion-button collapsed malbec-accordion_button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ block.question | remove: ' '  | remove: '?' }}-targ" aria-expanded="false" aria-controls="{{ block.question | remove: ' ' }}-targ"  style="color: {{ block.title_color }};">
        {{ block.question }}
      </button>
    </h2>
    <div id="{{ block.question | remove: ' '  | remove: '?' }}-targ" class="accordion-collapse collapse" aria-labelledby="{{ block.question | remove: ' '  | remove: '?' }}" data-bs-parent="#faqAccordion">
        <div class="accordion-body malbec-accordion_body" style="color: {{ block.text_color }};">
        {{ block.answer }}
        </div>
    </div>
</div>
{% schema %}
{
    "name": "card",
    "settings": [
        {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Title"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#0065F2"
        },
        {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "Add FAQ answer"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#0065F2"
        }
    ]
}
{% endschema %}
